<h>Nah I am just hungry: </h>
<%= form_tag search_recipes_path, :method => :get do%>
<%= text_field_tag :query, params[:query] %> <%= submit_tag "Search" %>
<% end %>

<br>
<br>
<br>
<% @recipes.each do |recipe| %>
<%=recipe.menu%><br>
<%=recipe.ingredient%><br>
<%=recipe.recipe%><br>
Category: <%=recipe.country%><br>
Rate: <%=recipe.rate%><br>
<br>
<% end %>

<a href='/write'>Add recipe</a>
<br>
<a href='/profile'>Go to my profile</a>